<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods">
	<!-- 상품 목록 -->
	<select id="goodsList" resultType="com.eshop.dto.GoodsDTO">
		select * from goods order by gno desc
	</select>
	<!-- 타입별 상품목록 -->
	<select id="goodsTypeList" resultType="com.eshop.dto.GoodsDTO">
		select * from goods where gtype=#{gtype } order by gno desc
	</select>
	<!-- 타입,쉐입별 상품목록 -->
	<select id="goodsShapeList" resultType="com.eshop.dto.GoodsDTO">
		select * from goods where gtype=#{gtype } and gshape=#{gshape} order by gno desc
	</select>	
	<!-- 상품 상세보기 -->
	<select id="goodsDetail" resultType="com.eshop.dto.GoodsDTO">
		select * from goods where gno=#{gno }
	</select>
	<!-- 최신상품 -->
	<select id="latestGoods" resultType="com.eshop.dto.GoodsDTO">
		select * from goods order by gno desc limit 5
	</select>
	<!-- 베스트상품 -->
	<select id="bestGoods" resultType="com.eshop.dto.GoodsDTO">
		select a.*,count(*) as cnt 
		from goods a inner join sales b on a.gno=b.gno group by gno order by cnt desc limit 5
	</select>
	<select id="goodsCount" resultType="integer">
		select count(*) from goods
	</select>
	<!-- 상품 등록 insert -->
	<insert id="goodsInsert">
		insert into goods (gtype, gname, gshape, gcolor, gimg1 ,gimg2 ,ginfo ,price ,pieces) 
		values (#{gtype }, #{gname }, #{gshape },#{gcolor }, #{gimg1 }, #{gimg2 }, #{ginfo }, #{price }, #{pieces })
	</insert>
	<!-- 상품 수정 update -->
	<update id="goodsUpdate">
		update goods set gtype=#{gtype },gname=#{gname },gshape=#{gshape },gcolor=#{gcolor }, gimg1=#{gimg1 },
		gimg2=#{gimg2 },ginfo=#{ginfo },price=#{price },pieces=#{pieces }  where gno=#{gno }
	</update>
	<!-- 이미지없이 상품수정 -->
	<update id="goodsEidt">
		update goods set gtype=#{gtype },gname=#{gname },gshape=#{gshape },gcolor=#{gcolor },ginfo=#{ginfo },
		price=#{price },pieces=#{pieces }  where gno=#{gno }
	</update>
	<!-- 상품 삭제 delete -->
	<delete id="goodsDelete">
		delete from goods where gno=#{gno }
	</delete>
		
	<!-- 추천상품 -->
	<select id="recogoods" resultType="com.eshop.dto.GoodsDTO">
		<!-- 관리자가 추천상품 등록해 일치하는 상품 출력 -->
	</select>
</mapper>