<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="review">

	<!-- 리뷰 목록 -->
	<select id="reviewList" resultType="com.eshop.dto.ReviewDTO">
		select * from review gn0=#{gn0} order by regdate desc;
	</select>
	
	<!-- 리뷰쓰기 -->
	<insert id="reviewInsert">
		insert into review (gno, uid, subject, content) values (#{gno}, #{uid}, #{subject}, #{content}) 
	</insert>
	
	<!-- 리뷰 수정 -->
	<update id="reviewUpdate">
		update review set uid=#{uid}, subject=#{subject}, content=#{content}, regdate=now() where uno=#{uno}
	</update>
	
	<!-- 리뷰삭제 -->
	<delete id="reviewDelete">
		delete from review where uno=#{uno}
	</delete>
</mapper>